div {
	margin: 5px 0px;
}
#civitas-resume-container {
	border: 1px solid #CCC;
	box-shadow: 5px 5px 3px #888;
	margin: 20px auto;
	padding: 30px;
}
#civitas-resume-name {
	font-size: 2em;
}
#civitas-resume-contactinfo {
	font-size: 1.2em;
	margin: 20px 0px;
}
#civitas-resume-summary {

}
.civitas-resume-position {
	margin-bottom: 5px;
}
.civitas-resume-position-decoration {
	margin-top: 14px;
	height: 50px;
	max-width: 10px;
	background-color: #5BA3F5;
}
.civitas-resume-position-name {
	font-weight: bold;
}